@import url('https://fonts.googleapis.com/css2?family=Advent+Pro:wght@400;500;700&display=swap');

body {
    background-color: #161626;
    font-family: 'Advent Pro', sans-serif;
    margin: 0;
    padding: 0;
}

.login-page {
  color: white;
  text-align: center;
  margin-top: 40%;
}

.login-logo {
  width: 40%;
}

.login-btn {
  color: white;
  background: none;
  font-family: 'Advent Pro', sans-serif;
  font-size: 20px;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px 20px 10px 20px;
}

/* navbar style ======================================================*/
.dashboard-nav {
  background-color: red;
  width: 100px;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
}

.dashboard-nav > img {
  margin: 50px 0 50px 0;
}

.dashboard-nav > a{
  cursor: pointer;
  text-align: center;
  color: white;
  text-decoration: none;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 40px;
  padding-top: 30px;
}

/* individual icons for nav bar*/
.nav-icon {
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 2px;
}

.home-icon {
  background-image: url(./assets/home.svg);
}

.athletes-icon{
  background-image: url(./assets/athletes.svg);
}

.reports-icon{
  background-image: url(./assets/reports.svg);
}

.graphs-icon{
  background-image: url(./assets/graphs.svg);
}

.settings-icon{
  background-image: url(./assets/settings.svg);
}

/* .nav-home-icon:hover {
  filter: invert(65%) sepia(33%) saturate(1147%) hue-rotate(143deg) brightness(91%) contrast(83%);
} */

.nav-logout-btn {
  position: relative;
  font-size: 15px !important;
  text-decoration: underline !important;
  font-weight: 700 !important;
}

